extends layout

block content
  h1= HOMAKESAVADURGAPRASAD OMTRI
  p Welcome to Webapps Pug
    👋 Hi, I’m @Hkdp-Omtri (Homakesavadurgaprasad Omtri)
    👀 I’m Studying Masters at Northwest Missouri State University
    📫 you can reach me through S544929@nwmissouri.edu
    💙 You can call me Homi. 
